# Python
*.py[cod]
*$py.class
*.so
__pycache__/
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
